Django==2.2.28
pytz==2016.10
whitenoise==3.2.3
gunicorn==19.6.0
psycopg2-binary==2.7.5
dj-static==0.0.6
waitress==2.1.1
requests==2.15.1
djangorestframework
python-decouple==3.1
awsebcli==3.14.1
django-stored-messages==1.4.0
dj-database-url==0.5.0
