/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none;}
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse;border-spacing: 0; }
body { font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: normal; position: relative; background-color: #ecf4f3; color: #555151;}
a { text-decoration: none; color: #76dbd1;}
a:hover, a:focus { color: #57a99a; }
a:focus, button:focus { outline: 0 none; }
button, .button {display: block; padding: 15px; border: none; color: #fff; background-color: #76dbd1; border-radius: 3px; margin: 10px 0; font-weight: 800; font-size: 16px; cursor: pointer;}
button.little, .button.little { padding: 3px 5px; margin: 0; display: inline; }
button:hover, .button:hover { background-color: #57a99a; color: #fff; }
section { padding: 0 20px 20px 20px; }
.ui { height: 100vh; display: -ms-grid; display: grid;-ms-grid-template-rows: 40px 50px 1fr; grid-template-rows: 40px 50px 1fr;}
.ui.interface {height: 100%; display: initial;}
.brand-logo { font-size: 1.2em; font-weight: bolder; }

.navbar {padding: 8px 15px; background-color: #ffffff; border-bottom: 1px solid #e4e4e4; margin-bottom: 20px;}
.navbar button, .navbar .button { padding: 3px 5px; margin: 0; }

.nav-list { width: 100%; }
.nav-list li { display: inline-block; }

.lists {display: flex; display: -webkit-flex; overflow-x: auto; display: -ms-flexbox; display: -webkit-box; overflow-y: hidden; margin-bottom: 20px;}
.lists > * { flex: 0 0 auto; margin-left: 10px;}
.lists::after {content: ''; flex: 0 0 10px;}
.list {height: calc(100% - 10px - 17px); width: 300px;}
.list > * { background-color: #e4e4e4; color: #555151; padding: 8px 10px; }
.list > header { line-height:  36px; font-size: 16px; font-weight: bold; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.list > footer { line-height: 36px; color: #555151; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.list ul { list-style: none; margin: 0; max-height: calc(100% - 36px - 36px); overflow-y: auto;}
.list ul li { background: #fff; padding: 10px; border-radius: 3px; box-shadow: 0 1px 1px rgba(0,0,0,0.1);}
.list ul li:not(:last-child) {margin-bottom: 10px;}

.add-board, .edit-user { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 98; background-color: #ffffff; max-width: 520px; width: 100%; border-radius: 4px; box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2);}
.add-board .form-title, .edit-user .form-title { font-size: 1.2em; font-weight: bolder; margin-bottom: 12px; }
.add-board .content, .edit-user .content {padding: 20px 15px; }
.add-board label , .edit-user label, .edit-user p { color: #000; display: block; width: auto; }
.overlay { position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,0.5); z-index: 88; width: 100%; height: 100%; }

.add-task input[type='text'] { padding: 3px 5px; width: calc(100% - 43px);}

.container { max-width: 450px; width: 100%; background-color: #fff; margin: 20px auto; border-radius: 4px; box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2);}
.fieldset.header {padding-top: 30px; padding-bottom: 20px;}
.fieldset.header .icon { font-size: 80px; display: block; color: #76dbd1;}
.fieldset.header h2, .fieldset.header p {margin: 5px 0; padding: 0;}
.fieldset.header h2 { color: #76dbd1; font-size: 25px; font-weight: bolder; }
.fieldset.header p, .fieldset.form p {color: #aaa;}

.fieldset.form {padding: 30px;}
.fieldset.form input[type="text"], .card input[type="text"], .fieldset.form input[type="password"], .add-board input[type="text"], .edit-user input[type="text"], .edit-user input[type="email"], .edit-user input[type="password"], .card textarea { display: block; width: 100%; background-color: #ecf4f3; border: none; padding: 8px 5px; margin-bottom: 20px; margin-top: 8px; }
.fieldset.form label {color: #555151;}
.add-board input[type="text"], .edit-user input[type="text"], .edit-user input[type="email"], .edit-user input[type="password"], .card input[type="text"], .card textarea { padding: 2px 0 0 0; height: 32px; }
.card textarea { height: 40px; }

.todo-interface.container { max-width: 80%; margin: 10px auto; background-color: transparent; border-radius: 0; box-shadow: 0 0 0 transparent; padding: 0 20px;}
.todo-interface .container__header { text-align: center; font-size: 1.3em; font-weight: bold; }
.todo-interface .container__description { margin-bottom: 2.5em; text-align: center; }
.todo-interface .list__item, .todo-interface input, .todo-interface textarea { padding: 1em; }
.todo-interface input[type="text"], .todo-interface textarea {width: 80%; display: block; box-shadow: inset 1px 1px 3px 0px rgba(134, 134, 134, 0.21);border: 1px solid #C5C5C5;}
.todo-interface textarea { margin-top: 20px; }
.todo-interface .list__item { margin-bottom: 0.5em; background-color: white; border: 1px solid #C5C5C5; border-radius: 3px; backface-visibility: hidden; box-shadow: 1px 1px 3px 0px rgba(134, 134, 134, 0.21); animation-duration: 1s; animation-fill-mode: forwards; }

.error {color: #ff3333;}

.text-center {text-align: center;}
.text-left { text-align: left;}
.text-right { text-align: right; }

.fl-right { float: right; }
.fl-left { float: left; }

.hidden { display: none; }

.clearfix {float: none;clear: both;}

.clearfix::after, .clearfix::before {content: "";width: 100%;display: table;}

.completed { text-decoration: line-through; }
.badge { cursor: pointer; }
