body {
    overflow-x: hidden;
    overflow-y: auto;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    clear: both;
    background-color: #EEEEEE;
    border-top: 1px solid #d7ecfa;
}

.collection .collection-item td {
    overflow-wrap: break-word;
    word-break: break-all;
}
