@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lato');

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: hotpink;
}

a:hover,
a:focus {
    text-decoration: underline;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Lato', sans-serif;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;

}

.form {
    max-width: 450px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 1px #D4D4D4;
    padding: 15px;
    width: 100%;
}

.fieldset {
    margin: 15px 0px;
}

.fieldset input[type="text"],
.fieldset input[type="password"] {
    background-color: #EEEEEE;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0px 10px;
}

.fieldset input[type="text"],
.fieldset input[type="password"],
.fieldset button {
    width: 100%;
    height: 40px;
    border: 0px none;
    border-radius: 5px;
}

.fieldset button:hover,
.button:hover {
    background-color: pink;
    border-bottom: 5px solid hotpink;
}

.fieldset button,
.button {
    background-color: hotpink;
    color: #FFF;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 5px solid pink;
}

.button {
    border-radius: 5px;
    padding: 5px 8px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}

.wrapper-content {
    padding-left: 10px;
    padding-right: 10px;
}

.columns {
    float: left;
    margin-right: 1%;
}

@media screen and (min-width: 768px) {
    .columns {
        width: 19%;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .columns {
        width: 49%;
    }
}

@media screen and (max-width: 479px)  {
    .columns {
        width: 100%;
        margin-right: 0px;
        float: none;
    }
}


.columns:first-child {
    margin-right: 0px;
}

.board {
    box-shadow: 0px 1px 1px 1px #D4D4D4;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

.add-task {
    display: table;
    width: 100%;
}

.add-task input[type="text"],
.add-task .button {
    display: table-cell;
    height: 38px;
    border-radius: 0px;
    border: 0px none;
    vertical-align: middle;
}

.add-task input[type="text"] {
    background-color: #E5E5E5;
    padding-left: 5px;
    padding-right: 5px;
}

.header {
    padding: 15px 10px;
    margin-bottom: 15px;
    border-bottom: hotpink 1px solid;
}

.header > a:hover {
    text-decoration: none;
}

.tasks {
    padding-left: 15px;
    list-style-type: decimal;
    list-style-position: outside;
}

.footer {
    clear: both;
    margin-top: 15px;
    padding: 15px 10px;
    color: hotpink;
    border-top: hotpink 1px solid;
}

.title {
    margin: 0px;
    color: hotpink;
    font-family: 'Fredoka One', cursive;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}
