<div class="container">

    <div class="fieldset text-center header">
        <i class="icon fas fa-users"></i>
        <h2>Login</h2>
    </div>

    <div class="fieldset form">

        <form ng-submit="login()" class="form form-login">

            <div class="error">
                {{ login_error }}
            </div>

            <label for="username">Username</label>
            <input type="text" id="username" ng-model="user.username" />


            <label for="password">Password</label>
            <input type="password" id="password" ng-model="user.password" />

            <button type="submit">Login</button>

            <div class="text-center">
                <p>Or <a href="#!signup">Signup</a> to create an account.</p>
            </div>
        </form>
    </div>
</div>
