<div class="ui interface">
    <nav class="navbar board">
        <ul class="nav-list">
            <li><a class="brand-logo" href="#!">Scrumy</a></li>
            <li ng-if="currentUser">Hello {{ currentUser.username }} !</li>
            <li><button ng-click="editUser=true" class="button"><i class="fa fa-user"></i> Edit User Informations</button></li>
            <li><button ng-click="addBoard()" class="button"><i class="fa fa-plus"></i> Add a board</button></li>
            <li><button ng-click="logout()" class="button">Logout</button></li>
            <li><a href="#!todo" title="work in progress">Taskr</a></li>
        </ul>
    </nav>

    <div class="lists">

        <div ng-repeat="list in data" class="list">
            <header>
                <button ng-click="confirmDelete(list)"><i class="fa fa-trash-o"></i></button>

                <button ng-click="showFilters=!showFilters" class="button">
                    {{ showFilters ? "Hide": "Show" }} filters
                </button>

                <div class="filters" ng-show="showFilters">
                    <input type="text" ng-model="filterBy" />
                    <select ng-model="sortBy">
                        <option value="title">Title</option>
                        <option value="story_points">Story points</option>
                        <option value="business_value">Business value</option>
                    </select>
                    <input type="checkbox" ng-model="reverse" />
                </div>

                <h3>{{ list.name }} </h3>
            </header>

            <ul>
                <li ng-repeat="card in list.cards | filter:filterBy | orderBy:sortBy:reverse">
                    <scrumboard-card></scrumboard-card>
                </li>
            </ul>

            <footer class="add-task">
                <input type="text" autocomplete="false" ng-model="new_title" />
                <button ng-click="add(list, new_title)" class="button"><i class="fa fa-plus"></i></button>
            </footer>
        </div>
    </div>
</div>

<div class="add-board" ng-show="showAddBoard" ng-style="popin">
    <div class="content">
        <button class="button" ng-click="hideBoard()"><i class="fa fa-close"></i></button>
        <label for="board">Add a board : </label>
        <input type="text" id="board" ng-model="name" />
        <button ng-click="create()">Add list</button>
    </div>
</div>

<div class="edit-user" ng-show="editUser" ng-style="userProfile" ng-model-options="modelOptions">
    <div class="content">
        <button class="button" ng-click="editUser=false"><i class="fa fa-close"></i></button>

        <p>Edit user informations <br />for stay in touch with us</p>

         <div>
             <label for="username">Username:</label>
             <input id="username" type="text" ng-model="userData.username" ng-change="updateUser()" />
        </div>
        <div>
             <label for="first_name">First name:</label>
             <input id="first_name" type="text" ng-model="userData.first_name" ng-change="updateUser()" />
        </div>
        <div>
             <label for="last_name">Last name:</label>
             <input id="last_name" type="text" ng-model="userData.last_name" ng-change="updateUser()" />
        </div>
        <div>
             <label for="email">E-mail:</label>
             <input id="email" type="email" ng-model="userData.email" ng-change="updateUser()" />
        </div>
    </div>
</div>

<div class="overlay" ng-show="showAddBoard || editUser"></div>
