<div class="flex h-screen overflow-hidden" id="app">
    <div class="w-64 px-8 py-4 bg-gray-100 border-r overflow-hidden">
        <!--<img src="/" class="h-9 w-9" alt="">-->
        <nav class="mt-8">
            <h3 class="text-xs font-semibold text-gray-600 uppercase tracking-wide">Boards</h3>
            <div class="mt-2 -mx-3">
                    <a href="#" class="flex justify-between item-center bg-gray-200 rounded-lg py-2 px-3">
                        <span class="text-sm font-medium text-gray-900">All</span>
                        <span class="text-sm font-semibold text-gray-700">36</span>
                    </a>
                    <a href="#" class="flex justify-between item-center rounded-lg py-2 px-3">
                        <span class="text-sm font-medium text-gray-700">Assigned to me</span>
                        <span class="text-sm font-semibold text-gray-700">2</span>
                    </a>
                    <a href="#" class="flex justify-between item-center rounded-lg py-2 px-3">
                        <span class="text-sm font-medium text-gray-700">Created by me</span>
                        <span class="text-sm font-semibold text-gray-700">1</span>
                    </a>
                    <a href="#" class="flex justify-between item-center rounded-lg py-2 px-3">
                        <span class="text-sm font-medium text-gray-700">Archived</span>
                    </a>
            </div>
            <h3 class="mt-8 text-xs font-semibold text-gray-600 uppercase tracking-wide">Tags</h3>
            <div class="mt-2 -mx-3">
                    <a href="#" class="flex justify-between item-center rounded-lg py-2 px-3">
                        <span class="text-sm font-semibold text-gray-700">Bug</span>
                    </a>
                    <a href="#" class="flex justify-between item-center rounded-lg py-2 px-3">
                        <span class="text-sm font-semibold text-gray-700">Feature Request</span>
                    </a>
                    <a href="#" class="flex justify-between item-center rounded-lg py-2 px-3">
                        <span class="text-sm font-semibold text-gray-700">Marketing</span>
                    </a>
                    <a href="#" class="flex justify-between item-center rounded-lg py-2 px-3">
                        <span class="text-sm font-medium text-gray-700">v2.0</span>
                    </a>
                    <a href="#" class="flex justify-between item-center rounded-lg py-2 px-3">
                        <span class="text-sm font-medium text-gray-700">Enhancement</span>
                    </a>
                    <a href="#" class="flex justify-between item-center rounded-lg py-2 px-3">
                        <span class="text-sm font-medium text-gray-700">Design</span>
                    </a>
            </div>
            <button type="button" class="mt-2 -ml-1 flex items-center text-sm font-medium text-gray-600">
                <i class="fas fa-plus text-gray-500"></i> 
                <span class="ml-1">New Project</span>
            </button>
        </nav>
    </div>
    <div class="flex flex-1 flex-col min-w-0 bg-white overflow-hidden">
        <div class="border-b-2 border-gray-200 flex-shrink-0">
            <header class="px-6">
                <div class="flex justify-between py-3 items-center border-b border-gray-200">
                    <div class="flex-1">
                        <div class="relative w-64">
                            <span class="absolute inset-y-0 left-0 flex pl-3 items-center">
                                <i class="fas fa-search text-gray-500"></i>
                            </span>
                            <input type="text" placeholder="Search" class="block w-full rounded-lg border border-gray-400 pr-4 py-2 leading-tight pl-10 text-gray-900 text-sm placeholder-gray-500" name="search" id="search">
                        </div>
                    </div>
                    <div class="flex items-center">
                        <button type="button">
                            <i class="fas fa-bell text-gray-500"></i>
                        </button>
                        <button type="button" class="ml-6" ng-if="currentUser" title="{{ currentUser.username }}">
                            <i class="fas fa-user text-gray-500"></i>
                        </button>
                    </div>
                </div>
                <div class="ml-6 flex items-center justify-between py-2">
                    <div class="flex items-center">
                        <h2 class="text-2xl font-semibold text-gray-900 leading-tight">All Issues</h2>
                        <div class="ml-6 flex items-center">
                            
                        </div>
                    </div>
                    <div class="flex">
                        <span class="inline-flex p-1 border bg-gray-200 rounded-md">
                            <button type="button" class="px-2 py-1 rounded">
                                <i class="fas fa-bars text-gray-500"></i>
                            </button>
                            <button type="button" class="px-2 py-1 bg-white rounded shadow">
                                <i class="fas fa-th text-gray-500"></i>
                            </button>
                        </span>
                        <button type="button" class="flex items-center text-sm font-medium text-white bg-gray-800 hover:bg-gray-700 rounded-lg pl-2 pr-4 py-2 ml-5">
                            <i class="fas fa-plus text-white"></i> 
                            <span class="ml-1">New Board</span>
                        </button>
                    </div>
                </div>
            </header>
        </div>
        <div class="flex-1 overflow-auto">
            <main class="p-3 h-full inline-flex overflow-hidden">
                <div class="bg-gray-100 rounded-lg w-80 ml-3 p-3 flex flex-col py-3" ng-repeat="list in data">
                    <h3 class="text-sm px-3 pt-3 pb-1 flex-shrink-0 font-medium text-gray-700">{{ list.name }} </h3>
                    <div class="flex-1 min-h-0 overflow-y-auto">
                        <ul class="mt-2 px-3 pb-3">
                            <li class="mt-3 block rounded-lg shadow bg-white p-5" ng-repeat="card in list.cards | filter:filterBy | orderBy:sortBy:reverse">
                                <scrumboard-card></scrumboard-card>
                            </li>
                        </ul>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
<!-- <div class="ui interface">
    <nav class="navbar board">
        <div class="hidden-xs">
            <ul class="nav-list">
                <li><button ng-click="editUser=true" class="button"><i class="fas fa-user"></i> Edit User Informations</button></li>
                <li><button ng-click="addBoard()" class="button"><i class="fas fa-plus"></i> Add a board</button></li>
                <li><button class="button" ng-click="addTodoPopin=true"><i class="fas fa-pencil-alt"></i> Add a todo</button></li>
                <li><button ng-click="logout()" class="button"><i class="fas fa-sign-out-alt"></i> Logout</button></li>
            </ul>
        </div>
        <div class="hidden-md">
            <span>
                <button class="button little" type="button" ng-init="navCollapsed = false" ng-click="navCollapsed = !navCollapsed"><i class="fas fa-bars"></i></button>
            </span>
            <a class="brand-logo" href="#!">Scrumy</a>
            <ul class="nav-list" ng-show="navCollapsed">
                <li><button ng-click="editUser=true" class="button"><i class="fas fa-user"></i> Edit User Informations</button></li>
                <li><button ng-click="addBoard()" class="button"><i class="fas fa-plus"></i> Add a board</button></li>
                <li><button class="button" ng-click="addTodoPopin=true"><i class="fas fa-pencil-alt"></i> Add a todo</button></li>
                <li><button ng-click="logout()" class="button"><i class="fas fa-sign-out-alt"></i> Logout</button></li>
            </ul>
        </div>
    </nav>

    <div class="lists">

        <div ng-repeat="list in data" class="list">
            <header>
                <button ng-click="confirmDelete(list)" class="button little"><i class="fas fa-trash"></i></button>

                <button ng-click="showFilters=!showFilters" class="button little">
                    {{ showFilters ? "Hide": "Show" }} filters
                </button>

                <div class="filters" ng-show="showFilters">
                    <input type="text" ng-model="filterBy" />
                    <select ng-model="sortBy">
                        <option value="title">Title</option>
                        <option value="story_points">Story points</option>
                        <option value="business_value">Business value</option>
                    </select>
                    <input type="checkbox" ng-model="reverse" />
                </div>

                <h3>{{ list.name }} </h3>
            </header>

            <ul>
                <li ng-repeat="card in list.cards | filter:filterBy | orderBy:sortBy:reverse">
                    <scrumboard-card></scrumboard-card>
                </li>
            </ul>

            <footer class="add-task">
                <input type="text" autocomplete="false" ng-model="new_title" />
                <button ng-click="add(list, new_title)" class="button little"><i class="fa fa-plus"></i></button>
            </footer>
        </div>
    </div>
</div>

<div class="add-board" ng-show="showAddBoard" ng-style="popin">
    <div class="content">
        <button class="button little fl-right" ng-click="hideBoard()"><i class="fas fa-window-close"></i></button>
        <div class="clearfix"></div>
        <h3 class="form-title">Add a board.</h3>
        <input type="text" id="board" placeholder="Add a board" ng-model="name" />
        <button ng-click="create()" class="button">Add a board</button>
    </div>
</div>

<div class="edit-user" ng-show="editUser" ng-style="userProfile" ng-model-options="modelOptions">
    <div class="content">
        <button class="button little fl-right" ng-click="editUser=false"><i class="fas fa-window-close"></i></button>
        <div class="clearfix"></div>
        <h3 class="form-title">Edit user informations.</h3>
         <div>
             <label for="username">Username:</label>
             <input id="username" type="text" ng-model="userData.username" ng-change="updateUser()" />
        </div>
        <div>
             <label for="first_name">First name:</label>
             <input id="first_name" type="text" ng-model="userData.first_name" ng-change="updateUser()" />
        </div>
        <div>
             <label for="last_name">Last name:</label>
             <input id="last_name" type="text" ng-model="userData.last_name" ng-change="updateUser()" />
        </div>
        <div>
             <label for="email">E-mail:</label>
             <input id="email" type="email" ng-model="userData.email" ng-change="updateUser()" />
        </div>
    </div>
</div>

<div class="todo-interface" ng-show="addTodoPopin" ng-style="popin">
    <div class="content">
        <button class="button little fl-right" ng-click="addTodoPopin=false"><i class="fas fa-window-close"></i></button>
        <div class='container__header'>
            <h1>Add a thing to do : </h1>
        </div>
        <div class='container__description'>
            Go on, add or remove items from the list.
       </div>
       <input type="text" placeholder="Name" ng-model="newTodo.name" />
       <input type="text" placeholder="Description" ng-model="newTodo.text" />
       <button ng-click="addTodo()" class="button little"><i class="fas fa-plus"></i></button>

       <div class="fixed-height">
            <ul class="todos">
                <li ng-repeat="todo in todos" class="todo list__item" ng-class="{completed: todo.complete}">
                    <header>
                        <h3>{{ todo.name }}</h3>
                    </header>
                    <p>{{ todo.text }}</p>
                    <small>{{ todo.created | date:'MM/dd/yyyy' }}</small>
                    <input type="checkbox" ng-checked="todo.complete" ng-change="toggleCompleted(todo)" ng-model="todo.complete" />
                    <span class="pointer" ng-click="deletedTodo(todo.id)"><i class="fas fa-window-close"></i></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="overlay" ng-show="showAddBoard || editUser || addTodoPopin"></div>
 -->