<div class="flex h-screen" id="app-todo">
    <div ng-class="sidebarOpen ? 'block': 'hidden'" class="fixed inset-0 lg:hidden z-20 transition-opacity bg-black opacity-50"></div>
    <div ng-show="sidebarOpen" ng-class="sidebarOpen ? 'translate-x-0 ease-out transition-medium' : '-translate-x-full ease-in transition-medium'" class="fixed z-20 inset-y-0 left-0 w-64 px-8 py-4 bg-gray-100 border-r overflow-auto lg:static lg:inset-auto lg:translate-x-0">
        <div class="-mx-3 pl-3 pr-1 flex items-center justify-between">
            <span>
                <!--<img src="/" class="h-9 w-9" alt="">-->
            </span>
            <button type="button" class="text-gray-700 lg:hidden" ng-click="sidebarOpen = !sidebarOpen">
                <i class="fas fa-times text-gray-500"></i>
            </button>
        </div>
        <nav class="mt-8">
            <h3 class="text-xs font-semibold text-gray-600 uppercase tracking-wide">Tasks</h3>
            <div class="mt-2 -mx-3">
                    <a href="#" class="flex justify-between item-center bg-gray-200 rounded-lg py-2 px-3">
                        <span class="text-sm font-medium text-gray-900">All</span>
                        <span class="text-sm font-semibold text-gray-700">{{ todos.length }}</span>
                    </a> 
                    <a href="#" class="flex justify-between item-center rounded-lg py-2 px-3">
                        <span class="text-sm font-medium text-gray-700">Completed</span>
                        <span class="text-sm font-semibold text-gray-700">{{ todoCompleted.length }}</span>
                    </a>
            </div>
            <button type="button" class="mt-2 -ml-1 flex items-center text-sm font-medium text-gray-600">
                <i class="fas fa-plus text-gray-500"></i> 
                <a href="/" class="ml-1">New Board</a>
            </button>
        </nav>
    </div>
    <div class="flex flex-1 flex-col min-w-0 bg-white">
        <div class="sm:border-b-2 border-b sm:border-gray-200 flex-shrink-0">
            <header>
                <div class="px-6 ">
                    <div class="flex justify-between px-6 py-3 items-center border-b border-gray-200">
                        <div class="flex-1 flex min-w-0">
                            <button type="button" class="text-gray-600" ng-click="sidebarOpen = !sidebarOpen">
                                <i class="fas fa-bars text-gray-500"></i>
                            </button>
                            <div class="flex-shrink-1 ml-3 relative w-64">
                                <span class="absolute inset-y-0 left-0 flex pl-3 items-center">
                                    <i class="fas fa-search text-gray-500"></i>
                                </span>
                                <input type="text"
                                    ng-model="search"
                                    placeholder="Search"
                                    class="block w-full rounded-lg border border-gray-400 pr-4 py-2 leading-tight pl-10 text-gray-900 text-sm placeholder-gray-500" 
                                    name="search"
                                    id="search">
                            </div>
                        </div>
                        <div class="ml-6 flex-shrink-0 flex items-center">
                            <div class="relative">
                                <button type="button">
                                    <i class="fas fa-bell text-gray-600"></i>
                                </button>
                                <button type="button" ng-click="showDropdown()" class="ml-6" ng-if="currentUser" title="{{ currentUser.username }}">
                                    <i class="fas fa-user text-gray-600"></i>
                                </button>
                                <button ng-if="dropDownOpen" ng-click="hideDropdown()" tabindex="-1" class="fixed inset-0 h-full w-full bg-black opacity-50 cursor-default"></button>
                                <div ng-show="dropDownOpen" class="absolute right-0 mt-2 py-2 w-48 bg-white rounded-lg shadow-xl">
                                    <a nohref ng-click="showUserBoard()" class="cursor-pointer block px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white">Account Settings</a>
                                    <a nohref ng-click="logout()" class="cursor-pointer block px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white">Sign Out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-6 flex items-center justify-between py-2">
                        <div class="sm:flex sm:items-center">
                            <h2 class="text-2xl font-semibold text-gray-900 leading-tight">All Tasks</h2>
                            <div class="sm:ml-6 sm:mt-0 mt-1 flex items-center">
                                
                            </div>
                        </div>
                        <div class="flex">
                            <span class="hidden sm:inline-flex p-1 border bg-gray-200 rounded-md">
                                <button type="button" class="px-2 py-1 rounded">
                                    <i class="fas fa-bars text-gray-500"></i>
                                </button>
                                <button type="button" class="px-2 py-1 bg-white rounded shadow">
                                    <i class="fas fa-th text-gray-500"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div class="p-3 flex items-center bg-gray-100 border-b border-b-2 border-gray-800 py-2">
                <input type="text" placeholder="Name" class="appearance-none shadow rounded bg-white border-none w-full text-gray-800 mr-3 py-2 px-3 leading-tight focus:outline-none" ng-model="newTodo.name" />
                <input type="text" placeholder="Description" class="appearance-none shadow rounded bg-white border-none w-full text-gray-800 mr-3 py-2 px-3 leading-tight focus:outline-none" ng-model="newTodo.text" />
                <button ng-click="addTodo()" class="flex-shrink-0 bg-gray-800 hover:bg-gray-800 border-gray-800 hover:border-gray-800 text-sm border-2 text-white py-2 px-3 rounded"><i class="fas fa-plus"></i><span class="ml-1">New task</span></button>
            </div>
        <div class="flex-1 overflow-auto">
            <main class="p-3 h-full flex overflow-hidden">
                <div class="flex-1 min-h-0 overflow-y-auto">
                    <div ng-repeat="todo in todos | filter:search" ng-class="{completed: todo.complete}">
                        <h3 class="text-sm pt-3 pb-1 font-medium text-gray-700">
                            <div class="flex justify-between">
                                <div>
                                    <h5>{{ todo.name }} </h5>
                                    <p>{{ todo.text }}</p>
                                </div>
                                <div>
                                    <input type="checkbox" class="mr-2 leading-tight" ng-checked="todo.complete" ng-change="toggleCompleted(todo)" ng-model="todo.complete" />
                                    <button type="button" ng-click="deletedTodo(todo.id)" class="mr-2"><i class="fas fa-trash"></i></button>
                                </div>
                                
                            </div>
                        </h3>
                        <div>
                            <p>{{ todo.created | date:'MM/dd/yyyy' }}</p>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <!-- Feature : Account Settings -->
    <div ng-if="userBoard" class="fixed flex items-center justify-center inset-0 h-full w-full cursor-default" ng-click="hideUserBoard()"></div>
    <div ng-show="userBoard" class="fixed center">
        <div class="relative p-6 z-50 bg-white w-full border rounded-lg shadow max-w-md m-auto flex-col flex" ng-model-options="modelOptions">
            <div class="overlap">
                <button class="text-white font-bold py-2 px-4 rounded inline-flex items-center" ng-click="hideUserBoard()" type="button">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <h2 class="text-2xl font-semibold text-gray-900 leading-tight">Account Settings</h2>
            <div class="mb-4">
                <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username:</label>
                <input id="username" type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" ng-model="userData.username" ng-change="updateUser()" />
            </div>
            <div class="mb-4">
                <label for="first_name" class="block text-gray-700 text-sm font-bold mb-2">First name:</label>
                <input id="first_name" type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" ng-model="userData.first_name" ng-change="updateUser()" />
            </div>
            <div class="mb-4">
                <label for="last_name" class="block text-gray-700 text-sm font-bold mb-2">Last name:</label>
                <input id="last_name" type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" ng-model="userData.last_name" ng-change="updateUser()" />
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-700 text-sm font-bold mb-2">E-mail:</label>
                <input id="email" type="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" ng-model="userData.email" ng-change="updateUser()" />
            </div>
        </div>
    </div>
</div>
