<div class="ui interface">
    <nav class="navbar board">
        <ul class="nav-list">
            <li><a class="brand-logo" href="#!">Scrumy</a></li>
            <li class="fl-right"><a href="#!" class="button"><i class="fas fa-chevron-left"></i> Back to boards</a></li>
            <li>Taskr</li>
        </ul>
    </nav>

    <section class="todo-interface">
        <div class='container__header'>
            <h1>Add a thing to do : </h1>
        </div>
        <div class='container__description'>
            Go on, add or remove items from the list.
       </div>
       <input type="text" placeholder="Name" ng-model="newTodo.name" />
       <input type="text" placeholder="Description" ng-model="newTodo.text" />
       <button ng-click="addTodo()" class="button little"><i class="fas fa-plus"></i></button>

        <ul class="todos">
            <li ng-repeat="todo in todos" class="todo list__item" ng-class="{completed: todo.complete}">
                <header>
                    <h3>{{ todo.name }}</h3>
                </header>
                <p>{{ todo.text }}</p>
                <small>{{ todo.created | date:'MM/dd/yyyy' }}</small>
                <input type="checkbox" ng-checked="todo.complete" ng-change="toggleCompleted(todo)" ng-model="todo.complete" />
                <span ng-click="deletedTodo(todo.id)"><i class="fas fa-window-close"></i></span>
            </li>
        </ul>
    </section>
</div>
