{% load staticfiles %}
{% load i18n %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'styles/vendors/tailwindcss/tailwind.min.css' %}" rel="stylesheet">
    <link href="{% static 'styles/vendors/fontawesome/all.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/app.css' %}">
    <meta name="description" content="A personnal task board for you and your team" />
    <meta name="keywords" content="scrumboard, kanban, task board, todos">
</head>

<body class="bg-gray-200 text-gray-900 antialised font-sans">
  {% block body_content %}{% endblock %}

  <script src="{% static 'vendor/jquery.js' %}"></script>
  <script src="{% static 'vendor/angular.min.js' %}"></script>
  <script src="{% static 'vendor/angular-route.min.js'%}"></script>
  <script src="{% static 'scripts/app.js' %}"></script>
  <script src="{% static 'scripts/app.config.js' %}"></script>
  <script src="{% static 'scripts/login.controller.js' %}"></script>
  <script src="{% static 'scripts/signup.controller.js' %}"></script>
  <script src="{% static 'scripts/login.service.js' %}"></script>
  <script src="{% static 'scripts/card.directive.js' %}"></script>
  <script src="{% static 'scripts/todo.service.js' %}"></script>
    
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46115386-10"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-46115386-10');
  </script>
</body>
</html>
