{% load staticfiles %}
{% load i18n %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Scrumy</title>
    <link rel="stylesheet" href="{% static 'styles/app.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta name="google-site-verification" content="R5iJgRqpxh230ryqlo3_4dtv65zdygec-7MapJDoOLw" />
    <meta name="description" content="A personnal task board for you and your team" />
    <meta name="keywords" content="django, webapp, délita makanda, paris, python, scrumboard, kanban", "scrumy", "task board">
</head>
<body ng-app="scrumboard">

    <main>


        <div class="header">
            <a href="#!"><h1 class="title">Scrumy</h1></a>
        </div>

        <ng-view></ng-view>

        <div class="footer text-center">
            Copyright (c) 2017 Copyright Scrumy All Rights Reserved.
        </div>

    </main>


    <script src="{% static 'scripts/vendor/jquery.js' %}"></script>
    <script src="{% static 'scripts/vendor/angular.min.js' %}"></script>
    <script src="{% static 'scripts/vendor/angular-route.min.js'%}"></script>
    <script src="{% static 'scripts/app.js' %}"></script>
    <script src="{% static 'scripts/app.config.js' %}"></script>
    <script src="{% static 'scripts/login.controller.js' %}"></script>
    <script src="{% static 'scripts/signup.controller.js' %}"></script>
    <script src="{% static 'scripts/login.service.js' %}"></script>
    <script src="{% static 'scripts/card.directive.js' %}"></script>


    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-46115386-2', 'auto');
    ga('send', 'pageview');

    </script>
</body>
</html>
