

<div class="wrapper-content">

    <div class="text-center">
        <h2>Login</h2>
    </div>

<form ng-submit="login()" class="form form-login">

    <div class="fieldset">
        {{ login_error }}
    </div>

    <div class="fieldset">
        <label for="username">Username</label>
        <input type="text" id="username" ng-model="user.username" />
    </div>

    <div class="fieldset">
        <label for="password">Password</label>
        <input type="password" id="password" ng-model="user.password" />
    </div>
    <div class="fieldset">
        <button type="submit">Login</button>
    </div>

    <div class="text-center">
        <p>Or <a href="#!signup">Signup</a> to create an account.</p>
    </div>

</form>


</div>
