<div class="ui">
    <nav class="navbar app">
        <h1>Scrumy</h1>
    </nav>

    <nav class="navbar board">
        <button ng-click="addBoard()" class="button">+</button>
        <button ng-click="logout()" class="button">Logout</button>
    </nav>

    <div class="lists">

        <div ng-repeat="list in data" class="list">
            <header>
                <button ng-click="confirmDelete(list)">X</button>

                <button ng-click="showFilters=!showFilters" class="button">
                    {{ showFilters ? "Hide": "Show" }} filters
                </button>

                <div class="filters" ng-show="showFilters">
                    <input type="text" ng-model="filterBy" />
                    <select ng-model="sortBy">
                        <option value="title">Title</option>
                        <option value="story_points">Story points</option>
                        <option value="business_value">Business value</option>
                    </select>
                    <input type="checkbox" ng-model="reverse" />
                </div>

                <h3>{{ list.name }} </h3>
            </header>

            <ul>
                <li ng-repeat="card in list.cards | filter:filterBy | orderBy:sortBy:reverse">
                    <scrumboard-card></scrumboard-card>
                </li>
            </ul>

            <footer class="add-task">
                <input type="text" autocomplete="false" ng-model="new_title" />
                <button ng-click="add(list, new_title)" class="button">+</button>
            </footer>
        </div>
    </div>
    <div class="footer text-center">
        Copyright (c) 2017 - Copyright Scrumy - All Rights Reserved.
    </div>
</div>

<div class="add-board" ng-show="showAddBoard" ng-style="popin">
    <div class="content">
        <button class="button" ng-click="hideBoard()">x</button>
        <label for="">Add a board : </label>
        <input type="text" ng-model="name" />
        <button ng-click="create()">Add list</button>
    </div>
</div>
<div class="overlay" ng-show="showAddBoard"></div>
