<div>
    <input type="text" ng-model="name" />
    <button ng-click="create()">Add list</button>
</div>

<div ng-repeat="list in data">
<h3>{{ list.name }} </h3>

<span>
    <button ng-click="showFilters=!showFilters">
        {{ showFilters ? "Hide": "Show" }} filters
    </button>
</span>

<div class="filters" ng-show="showFilters">
<input type="text" ng-model="filterBy" />
<select ng-model="sortBy">
    <option value="title">Title</option>
    <option value="story_points">Story points</option>
    <option value="business_value">Business value</option>
</select>
<input type="checkbox" ng-model="reverse" />
</div>

<ul>
    <li ng-repeat="card in list.cards | filter:filterBy | orderBy:sortBy:reverse">
        <scrumboard-card></scrumboard-card>
    </li>
</ul>
<input type="text" ng-model="new_title" />
<button ng-click="add(list, new_title)">+</button>
</div>

<div>
    <a href="#!login">Login</a>
</div>

<div>
    <button ng-click="logout()">Logout</button>
</div>
