<div class="container">

    <div class="fieldset text-center header">
        <i class="icon fa fa-users"></i>
        <h2>Create an account </h2>
        <p>It's free and it takes less than 10 seconds</p>
    </div>

    <div class="fieldset form">
        <form ng-submit="signup()" class="form form-signup">

            <div class="error">
                {{ signup_error }}
            </div>

            <label>Username</label>
            <input type="text" ng-model="username" />

            <label>Password</label>
            <input type="password" ng-model="password" />

            <button type="submit">Signup</button>

            <div class="text-center">
                <p>Already an account ? Please <a href="#!login">Login</a>.</p>
            </div>

        </form>
    </div>
</div>
