
<div class="wrapper-content">

    <div class="text-center">
        <h2>Create an account </h2>
    </div>

    <form ng-submit="signup()" class="form form-signup">

        <div class="fieldset">
            {{ signup_error }}
        </div>

        <div class="fieldset">
            <label>Username</label>
            <input type="text" ng-model="username" />
        </div>

        <div class="fieldset">
            <label>Password</label>
            <input type="password" ng-model="password" />
        </div>

        <div class="fieldset">
            <button type="submit">Signup</button>
        </div>

        <div class="text-center">
            <p>Already an account ? Please <a href="#!login">Login</a>.</p>
        </div>

    </form>

</div>
