<div class="adsense text-center">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- leaderboard-company -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px;"
           data-ad-client="ca-pub-3642405517149016"
           data-ad-slot="3772616037"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  </div>

<p>List added !</p>

<div>
    <a href="#!">Back to lists</a>
</div>
