{% extends 'base.html'%}
{% block title %}Url shortener{% endblock %}
{% block content %}
<div>
    <h5 class="center-align">Liste des URL raccourcies:</h5>

    <a href="{% url 'nouveau' %}">Raccourcir un url</a>

    <ul class="collection">
        {% for mini in minis %}
            <li class="collection-item">
                {{ mini.url }} via <a href="http://{{request.get_host}}{% url 'redirection' mini.code %}">{{ request.get_host }} {% url 'redirection' mini.code %}</a>
                {% if mini.pseudo %} par {{ mini.pseudo}} {% endif %}
                ({{ mini.nb_acces }} accès)
            </li>
            {% empty %}
            <li class="collection-item">Pas d'url</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
