{% extends 'base.html'%}
{% load i18n %}
{% block title %}{% trans "Raccourcisseur d'url" %}{% endblock %}
{% block content %}


<table class="ui striped table">
    <thead>
        <tr>
            <th>{% trans "Url brute" %}</th>
            <th>{% trans "Url raccourcie" %}</th>
            <th>{% trans "Submitter" %}</th>
            <th>{% trans "Date de création" %}</th>
            <th>{% trans "Accès" %}</th>
        </tr>
    </thead>
    <tbody class="infinite-container">
    {% for mini in minis %}
        <tr class="infinite-item">
            <td>{{ mini.url }}</td>
            <td>via <a href=" http://{{request.get_host}}{% url 'redirection' mini.code %}" target="_blank">{{ request.get_host }}{% url 'redirection' mini.code %}</a></td>
            <td>{% if mini.pseudo %} {% trans "par" %} {{ mini.pseudo }} {% endif %}</td>
            <td>{{ mini.date|date:"d M, Y" }}</td>
            <td>({{ mini.nb_acces }} {% trans "accès" %} )</td>
        </tr>
        {% empty %}
        <tr>
            <td>{% trans "Pas d'url" %}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

 {% if minis.has_next %}
    <div class="ui center aligned container">
        <a class="item" href="?page={{ minis.next_page_number }}">More</a>
    </div>
  {% endif %}

  <div class="loading" style="display: none;">
    Loading...
  </div>

<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>


{% endblock %}
