{% extends 'base.html'%}
{% load i18n %}
{% block title %}{% trans "Raccourcisseur d'url" %}{% endblock %}
{% block content %}


<table class="collection column text-center">
    <thead>
        <tr>
            <th>{% trans "Url brute" %}</th>
            <th>{% trans "Url raccourcie" %}</th>
            <th>{% trans "Submitter" %}</th>
            <th>{% trans "Date de création" %}</th>
            <th>{% trans "Accès" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for mini in minis %}
        <tr class="collection-item">
            <td>{{ mini.url }}</td>
            <td>via <a href=" http://{{request.get_host}}{% url 'redirection' mini.code %}" target="_blank">{{ request.get_host }} {% url 'redirection' mini.code %}</a></td>
            <td>{% if mini.pseudo %} {% trans "par" %} {{ mini.pseudo }} {% endif %}</td>
            <td>{{ mini.date|date:"d M, Y" }}</td>
            <td>({{ mini.nb_acces }} {% trans "accès" %} )</td>
        </tr>
        {% empty %}
        <tr class="collection-item">
            <td>{% trans "Pas d'url" %}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if minis.has_other_pages %}
    <ul class="pagination text-center">
            {% if minis.has_previous %}
                <li>
                <a href="?page={{ minis.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><a href="#">&laquo;</a></li>
            {% endif %}

            {% for i in minis.paginator.page_range %}
                {% if minis.number == i %}
                <li class="active">
                    <!--Page {{ minis.number }} of {{ minis.paginator.num_pages }}-->
                    <a href="#">{{ i }}</a>
                </li>
                {% else %}
                <li>
                    <a href="?page={{i}}">{{ i }}</a>
                </li>
                {% endif %}
            {% endfor %}

            {% if minis.has_next %}
                <li><a href="?page={{ minis.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><a href="#">&raquo;</a></li>
            {% endif %}
    </ul>
{% endif %}

{% endblock %}
