{% extends 'base.html'%}
{% load i18n %}
{% block title %}{% trans "Création d'une url raccourcie" %}{% endblock %}
{% block content %}
<div>
    <h5 class="center-align">{% trans "Raccourcir une url" %} </h5>
    <a href="{% url 'liste' %}">{% trans "Retourner aux urls" %}</a>
    <form method="post" action="{% url 'nouveau' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-default">{% trans "Publier" %}</button>
    </form>
</div>
{% endblock %}
