{% extends 'base.html'%}
{% load i18n %}
{% block title %}{% trans "Enregistrez-vous" %}{% endblock %}
{% block content %}
<div class="ui container">
    <h5>{% trans "Enregistrez-vous" %} </h5>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
            <small>{{ field.help_text }} </small>
            {% endif %}
            {% for error in field.errors %}
            <small> {{ error }}</small>
            {% endfor %}
        </p>
        {% endfor %}
        <button type="submit" class="ui button">{% trans "Créer un compte" %}</button>
    </form>
</div>
{% endblock %}
