{% extends 'base.html'%}
{% load i18n %}
{% block title %}{% trans "Votre url est créé" %}{% endblock %}
{% block content %}


<table class="collection column text-center">
    <thead>
        <tr>
            <th>{% trans "Url brute" %}</th>
            <th>{% trans "Url raccourcie" %}</th>
            <th>{% trans "Submitter" %}</th>
            <th>{% trans "Date de création" %}</th>
            <th>{% trans "Accès" %}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="collection-item">
            <td>{{ miniurl.url }}</td>
            <td>via <a href=" http://{{request.get_host}}{% url 'redirection' miniurl.code %}" target="_blank">{{ request.get_host }} {% url 'redirection' miniurl.code %}</a></td>
            <td>{% if miniurl.pseudo %} {% trans "par" %} {{ miniurl.pseudo }} {% endif %}</td>
            <td>{{ miniurl.date|date:"d M, Y" }}</td>
            <td>({{ miniurl.nb_acces }} {% trans "accès" %} )</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
