{% load staticfiles %}
{% load i18n %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/app.css' %}">
    <link rel="stylesheet" href="{% static 'styles/foundation-icons/foundation-icons.css' %}">
    <meta name="description" content="Raccourcisseur d'urls pour tous types de sites">
    <meta name="keywords" content="django, webapp, delita makanda, python, shortener, urls, twitter, facebook, instagram, google plus, short, url, link, href, adsense, raccourcisseur">
  </head>
  <body>
      <div class="top-bar">
          <div class="top-bar-left">
              <ul class="menu">
                  <li class="menu-text"><a href="{% url 'liste' %}">Shorten app</a></li>
                  <li><a href="{% url 'nouveau' %}"><i class="fi-page-add"></i>{% trans "Raccourcir un url" %}</a></li>
              </ul>
          </div>
      </div>

      <div class="callout large primary">
          <div class="row column text-center">
              <h1>{% trans "Raccourcisseur d'urls" %}</h1>
              <h5 class="subheader">{% trans "Raccourcisser vos urls grâce à notre service" %}</h5>
          </div>
      </div>

      <main>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- leaderboard-company -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3642405517149016"
     data-ad-slot="3772616037"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br>
<br>
          {% block content %}{% endblock %}

          <br>
          <br>

          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- leaderboard-company -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3642405517149016"
     data-ad-slot="3772616037"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
      </main>

     <footer>
         <ul class="menu">
             <li><a href="{% url 'privacy-policies' %}">{% trans "politique de confidentialité " %}</a></li>
             <li><a href="{% url 'contact' %}">{% trans "contacter nous " %}</a></li>
             <li>Copyright (c) 2017 Copyright Shorten App All Rights Reserved.</li>
         </ul>
     </footer>

    <script src="{% static 'scripts/vendor/jquery.js' %}"></script>
    <script src="{% static 'scripts/vendor/what-input.js' %}"></script>
    <script src="{% static 'scripts/vendor/foundation.js' %}"></script>
    <script src="{% static 'scripts/app.js' %}"></script>
  </body>
</html>
