{% load staticfiles %}
{% load i18n %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/app.css' %}">
    <link rel="stylesheet" href="{% static 'styles/foundation-icons/foundation-icons.css' %}">
    <meta name="google-site-verification" content="R5iJgRqpxh230ryqlo3_4dtv65zdygec-7MapJDoOLw" />
    <meta name="description" content="{% trans 'Raccourcisseur d urls pour tous types de sites' %} " />
    <meta name="keywords" content="django, webapp, delita makanda, python, shortener, urls, twitter, facebook, instagram, google plus, short, url, link, href, adsense, raccourcisseur">
  </head>
  <body>
      <div class="ui fixed inverted menu">
          <div class="ui container">
            <a href="/" class="header item">
              Shorten
            </a>
            <a href="{% url 'liste' %}" class="item">{% trans "Voir les urls" %}</a>
            <a href="{% url 'nouveau' %}" class="item">{% trans "Raccourcir un url" %}</a>
            <a href="{% url 'signup' %}" class="item">{% trans "Créer un compte" %}</a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" class="item">{% trans "Logout" %}</a>
            {% else %}
            <a href="{% url 'login' %}" class="item">{% trans "Login" %}</a>
            {% endif %}
          </div>
      </div>

      <div class="ui main text container">
        <h1 class="ui header">{% trans "Raccourcisseur d'urls" %}</h1>
        <p>{% trans "Raccourcisser vos urls grâce à notre service" %}</p>
      </div>

      <main>
        <div class="ui container">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- leaderboard-company -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3642405517149016"
     data-ad-slot="3772616037"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        
<br>
<br>
          {% block content %}{% endblock %}

          <br>
          <br>

          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- leaderboard-company -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3642405517149016"
     data-ad-slot="3772616037"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
      </main>

     <footer class="ui inverted vertical footer segment">
       <div class="ui center aligned container">
         <div class="ui inverted section divider"></div>
         <div class="ui horizontal inverted small divided link list">
           <a href="{% url 'privacy-policies' %}" class="item">{% trans "politique de confidentialité " %}</a>
           <a href=""class="item">Shorten {% trans "Tous droits réservés " %}.</a>
         </div>
       </div>
     </footer>

    <script src="{% static 'scripts/vendor/jquery.js' %}"></script>
    <script src="{% static 'scripts/vendor/what-input.js' %}"></script>
    <script src="{% static 'scripts/vendor/foundation.js' %}"></script>
    <script src="{% static 'scripts/semantic.min.js' %}"></script>
    <script src="{% static 'scripts/app.js' %}"></script>
    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46115386-2', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
