{% extends 'scrumboard/base.html'%}
{% block title %} Scrumboard {% endblock %}
{% block content %}

<div>
    <h1>Kanban Board</h1>
</div>

{% verbatim %}
<div ng-controller='ScrumboardController'>
    <div ng-repeat="list in data">
    <h3>{{ list.name }} </h3>

    <ul>
        <li ng-repeat="card in list.cards">
            <scrumboard-card></scrumboard-card>
        </li>
    </ul>
    <input type="text" ng-model="new_title" />
    <button ng-click="add(list, new_title)">+</button>
    </div>
</div>
{% endverbatim %}


{% endblock %}
